{{ form_start(form) }}

{{ form_label(form.firstName, 'Prénom') }}
{{ form_widget(form.firstName) }}

{{ form_label(form.lastName, 'Nom') }}
{{ form_widget(form.lastName) }}


{{ form_label(form.numEtud, 'Numéro étudiant') }}
{{ form_widget(form.numEtud) }}
<button type="submit" class="btn btn-primary">{{ label|default('Créer') }}</button>

{{ form_end(form) }}